
@page "/dire"

<button class="btn btn-primary"　@onclick="()=>ChangeDisplay()">サンダークロススプリットアタック</button>
@if (IsClicked)
{
    <div>かかったなアホが！</div>
}

@code
{
    public bool IsClicked;

    private void ChangeDisplay()
    {
        IsClicked = !IsClicked;
    }
}